.bookings__list {
  display: grid;
  max-width: 90%;
  margin: 2rem auto;
  grid-template-columns: repeat(auto-fit, minmax(100px, 450px));
}

@media (max-width: 768px) {
  .bookings__list {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 414px) {
  .bookings__list {
    display: block;
  }
}
