@import "../utilities/variables.scss";

.event__list {
  // max-width: 90%;
  margin-left: 5rem;
  padding: 0;
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 450px));
  }
}
