@import "../../utilities/_variables.scss";
@import "../../utilities/_mixins.scss";

@keyframes FadeInEvents {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.event__list__item {
  @include card;
  animation: FadeInEvents 0.8s ease-in;

  h2 {
    margin: 0;
    font-size: 1.5rem;
    color: $primary-color;
  }
  h4 {
    margin: 1rem;
    font-size: 1rem;
    color: rgb(85, 83, 83);
  }

  img {
    width: 275px;
    height: 250px;
  }

  button {
    @include button;
    position: relative;
    top: 9rem;
    padding: 0.5rem;
  }

  .button__delete {
    @include button;
    position: relative;
    top: 9rem;
    padding: 0.5rem;
    background: darken($color: $button-color, $amount: 25);

    &:hover {
      background: darken($color: $button-color, $amount: 17);
    }
  }

  p {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .event__list__item {
    @include card;
    width: 300px;
    img {
      width: 200px;
      height: 175px;
    }
    h2 {
      font-size: 1.2rem;
    }

    button {
      top: 7.5rem;
    }

    .button__delete {
      top: 7.5rem;
    }
  }
}

@media (max-width: 414px) {
  .event__list__item {
    @include card;
    width: 150px;
    height: 225px;
    img {
      width: 125px;
      height: 100px;
    }
    h2 {
      font-size: 0.8rem;
    }

    h4 {
      margin: 0.5rem;
      font-size: 0.7rem;
    }

    button {
      top: 6rem;
      right: 5.5rem;
      padding: 0.1rem 0.3rem;
      font-size: 0.6rem;
    }

    .button__delete {
      top: 5rem;
      padding: 0.1rem 0.3rem;
      font-size: 0.7rem;
    }
  }
}

@media (max-width: 375px) {
  .event__list__item {
    @include card;
    width: 255px;
    img {
      width: 175px;
      height: 145px;
    }
    button {
      top: 6rem;
      right: 0.5rem;
      padding: 0.1rem 0.3rem;
      font-size: 0.6rem;
    }

    .button__delete {
      top: 6rem;
      padding: 0.1rem 0.3rem;
      font-size: 0.7rem;
    }
  }
}
