@import "../utilities/_variables";
@import "../utilities/_mixins";

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20%);
  }
  25% {
    opacity: 0.25;
    transform: translateY(-15%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-10%);
  }
  75% {
    opacity: 0.75;
    transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.auth-form {
  width: 20rem;
  max-width: 80%;
  margin: 15rem auto;
  padding: 3rem;
  -webkit-box-shadow: 3px 9px 50px -15px rgba(26, 25, 25, 0.75);
  -moz-box-shadow: 3px 9px 50px -15px rgba(26, 25, 25, 0.75);
  box-shadow: 3px 9px 50px -15px rgba(26, 25, 25, 0.75);
  background-color: lighten($color: $primary-color, $amount: 31);

  .form-control {
    margin-bottom: 1rem;
    label,
    input {
      width: 100%;
      display: block;
    }
    label {
      font-size: 1.3rem;
    }
    input {
      height: 1.3rem;
      font-size: 1.1rem;
    }
  }
  .form-actions {
    button {
      @include button;
    }
  }
}

.error_message {
  @include message;
}

.success_message {
  @include message;
  background: rgb(55, 206, 55);
}
