@import "../utilities/_variables";
@import "../utilities/_mixins";

.form-control {
  margin-bottom: 1rem;
  label,
  input,
  textarea {
    width: 100%;
    display: block;
  }
}

.create-event {
  text-align: center;
  padding: 3rem;
  margin: 5rem auto;
  width: 30rem;
  max-width: 80%;

  &__btn {
    @include button;
  }
}
