@import "../../../utilities/_variables";

.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background: $primary-color;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 200;

  &__logo {
    a {
      text-decoration: none;
    }
    h2 {
      margin: 0;
      font-size: 1.5rem;
      color: white;
    }
  }
  &__items {
    margin-left: 1.5rem;

    ul {
      display: flex;
      padding: 0;
      list-style: none;
      margin: 0;
      align-items: center;
    }
    li {
      margin: 0 1rem;
    }
    a,
    button {
      text-decoration: none;
      color: white;
      border: none;
      background: transparent;
      cursor: pointer;
      &:hover,
      &:active {
        color: rgb(189, 187, 187);
      }
    }
    button {
      font-size: 16px;
      padding: 0;
    }
    a.active {
      color: rgb(189, 187, 187);
    }
  }

  .fa-ellipsis-h {
    color: white;
  }
}

@media (min-width: 415px) {
  .fa-ellipsis-h {
    display: none;
  }
}

@media (max-width: 414px) {
  .main-navigation {
    &__items {
      ul {
        display: none;
      }
    }
  }
}
