@import "../utilities/variables.scss";
@import "../utilities/mixins.scss";

.bookings__item {
  @include card;

  button {
    @include button;
    position: relative;
    top: 9rem;
    padding: 0.5rem;
  }

  img {
    width: 200px;
    height: 200px;
  }
}
