@import "../utilities/_variables.scss";
@import "../utilities/_mixins.scss";

.event__list__item {
  @include card;

  h2 {
    margin: 0;
    font-size: 1.5rem;
    color: $primary-color;
  }
  h4 {
    margin: 1rem;
    font-size: 1rem;
    color: rgb(85, 83, 83);
  }

  img {
    width: 300px;
    height: 275px;
  }

  button {
    @include button;
    position: relative;
    top: 9rem;
    padding: 0.5rem;
  }

  p {
    margin: 0;
  }
}
