.search-bar {
  input {
    height: 20px;
    border-radius: 25px;
    font-size: 1.05rem;
    padding-left: 32px;
  }
  span {
    position: relative;
    top: 1px;
    right: 89%;

    .fa-search {
      transform: rotate(90deg);
    }
  }
}
