@import "../../utilities/_variables.scss";
@import "../../utilities/_mixins.scss";

@keyframes FadeInModal {
  from {
    opacity: 0.25;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal {
  width: 90%;
  background: white;
  position: fixed;
  top: 20vh;
  left: 5%;
  z-index: 100;
  animation: FadeInModal 0.8s ease-in;

  .modal__header {
    padding: 1rem;
    background: $primary-color;
    color: white;

    h1 {
      margin: 0;
      font-size: 1.25rem;
    }
  }

  .modal__content {
    padding: 1rem;
  }

  .modal__actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    button {
      @include button;
    }
  }
}

@media (min-width: 768px) {
  .modal {
    width: 30rem;
    left: calc((100% - 30rem) / 2);
  }
}
