.search-bar {
  input {
    height: 20px;
    border-radius: 25px;
    font-size: 1.05rem;
    padding-left: 32px;
  }
  span {
    position: relative;
    top: 0.25px;
    right: 90%;

    .fa-search {
      // transform: rotate(90deg);
      font-size: 16px;
    }
  }
}
